(ns rekrvn.modules.irc.config)

(def servers
  [ {:network "flounder" :nick "cljr" :realname "bot" :autoConnect true
     :server "flounder.dyndns.org" :port 6998 :channels ["#test" "#room" "#ftbl"]
     :perms [{:channel "#test" :defaultAllow true :blacklist #{"mimic"}}
             {:channel "#room" :defaultAllow false :whitelist #{"spotify" "twurl"}}
             ]
     }

   ])

